*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F1F5F9;
}
header{
    background-color: #0ea5e9;
    text-align: center;
    line-height: 55px;
    padding: 30px 0 20px;
    color: white;
    border-radius: 15px;
    border-bottom: 0px solid #0ea5e9;
    top: 0;
    margin-bottom: 20px;
}
#link-bar{
    background-color: #E0F2FE;
    padding: 10px 0 10px;
    margin: 0px 20px 0px;
    border-radius: 10px;
    text-align: center;
     margin-bottom: 30px;
}
.link{
    padding: 15px;
    text-decoration: none;
    color: #4869A1;
    font-weight: bolder;
    padding: 7px 10px 7px ;
    border-radius: 10px;
}
.link:hover{
    color: white;
    background-color: #0284c7;
    padding: 7px 15px 7px;
}
#introduction{
    background-color: white;
    padding:40px 0px 30px 30px;
    border-radius: 20px;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 40px;
    
}
#confirm{
    background-color: #ECFEFF;
    padding:40px 0px 30px 30px;
    border-radius: 20px;
    margin-left: 25px;
    width: 1450px;
    line-height: 40px;
    margin-top: 50px;
    text-align: left;
    border-left: 6px solid #0EA5E9;
    margin-bottom: 70px;
}
footer{
    text-align: center;
    background-color: #0F172A;
    color: white;
    padding: 30px 0 30px;
    border-radius: 10px;
    line-height: 30px;
}
ul{
    list-style: none;
}
